[Unit]
Description=Tileserver GL
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target
Alias=tileserver.service

[Service]
User=tileserver-gl
Group=tileserver-gl

RestartSec=45s
ExecStart=/srv/tileserver-gl/omt_server/gl/run.sh
TimeoutSec=600

Restart=always
PrivateTmp=false
